@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Städexperten<br />
    Norra Skolgatan 29A, 21555 Malmö<br />
    <abbr title="Phone">P:</abbr>
    040-12 95 95
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Maila supporten</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Maila Chefen</a>
</address>